body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border: 8px solid black;
    border-radius: 20%;
    margin: 2.5rem 0.5rem 0.5rem 0.5rem;
   
}
.btn-container{
    display: flex;
    justify-content: center;
}


.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
    }
.purple{
 background-color: #b24ac7;
}
.blue{
background-color: #63aac0;
}
.flash{
    background-color: white;
}
.userflash{
background-color: rgb(213, 200, 19);
}
